body {
    margin: 0;
}

header {
    background-color: black;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 70%;
    margin: auto;
}

.danhmuc {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

.logo {
    width: 15%;
    
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 20px
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: #9b9b9b;
    font-size: 16px;
    font-family: "SFProDisplay", Arial, sans-serif;
}

a:hover {
    color: orange;
}

.chucnang {
    display: flex;
    align-items: center;
    gap: 20px;
}

.muagoi {
    background-color: orange;
    border: none;
    color: white;
    padding: 10px 20px;
    width: 100px;
    border-radius: 10px;
}

.dangnhap {
    background-color: black;
    color: white;
    border: none;
    width: 100px;
}

main {
    background-color: #131314;
    color: white;
    width: 100%;
    /* height: 1000px; */
}

.quangcao {
    display: flex;
    justify-content: center;

}

.container {
    width: 70%;
    background-color: black;
    /* height: 1000px; */
    margin: auto;
    
}

.banner {
    width: 98%;
}

.qc {
    margin-top: 10px;
    width: 98%;
    border-radius: 10px;
}

.tentheloai {
    margin: 20px;
}

.danhsach {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.phim {
    width: 19%;
}

.phim img {
    width: 100%;
    border-radius: 5px 5px 5px 5px;
     transition: 0.3s;
}
.danhsach img:hover{
    cursor: pointer;
    /* opacity: 0.6; */
    transform: scale(1.1) translateY(-10px);
}

.ten{
font-size: large;
}
.tentheloai{
    color: paleturquoise;
    font-size: 25px;
    font-weight: bold;
}
.divide{
    width: 100%;
    border: .5px solid #252525;
    margin: 0 40px ;
    border-left: none;
    display: flex;
    justify-content: space-between;
    max-width: 83%;
    border-right: none;
    
    
}
.footer-image img{
    align-items: center;
    display: flex;
    width: 150px ;  
    margin: 20px;
    margin-left:200px;
}
.footer{
    align-items: center;
    display: flex;
    padding-top: 20px;

}
.footer-head p{
    display: block;
    color: white;
    text-decoration:none;
    margin: 10px 0;
    font-family: Times New Roman;
    
}
.footer-head a:hover{
    text-decoration: none;
    color: orange;
    display: flex;
}
.the_end{
   font-size: 13px;
  color: white; 
  background-color: #131314; 
  padding-bottom: 50px;
  text-align: 20px;
  align-items: flex-start;
  padding-top: 20px;
}
.the_end p{
   text-decoration: none;
  margin-left: 240px;
  color: grey;   
  align-items: flex-start;

}
 .p{
    margin: 0;
}
.div{
    position: relative;
}
/* video{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    top: 0; 
  border-radius: 10px;
   object-fit: cover;
} */
iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
} 
.watch{
    background-color: #FF6500;
    border-radius: 8px;
    color: #fff;
    padding: 14px 40px;
    margin: 10px 0px 14px 40px;
    font-weight: bold;
    font-size: 16px;
}
.watch:hover{
    cursor: pointer;
    opacity: 0.9;
}
.tieude-phim a{
    text-decoration: none;
    color: #fff;
    
}
.tieude-phim {
    position: absolute;
    left: 0;
    bottom: 0;
    
}
.tieude-phim ul{
    /* display: flex; */
    gap: 20 px;
    font-size: 13px;
    list-style-type:disc;
    
}
.banner{
    width: 98%;
     background-image: url("https://images.fptplay53.net/media/OTT/VOD/2025/01/24/hai-muoi-fpt-play-1737684521733_Portrait_origin.jpg?w=300&c=0");
    background-repeat: no-repeat; 
    background-size: cover;
    margin: auto;
}
.watch-icon{
    display: flex;
    justify-content: center;
}
.circle{
    margin: 20px 0px 20px 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    background-color: #202020;
}
.fa-solid fa-heart{
    color: white;
}
.circle i {
  color: white;
  font-size: 24px;
}
.circle:hover {
 background: orange;
  transform: scale(1.1);     /* Phóng to nhẹ */}



