body {
    margin: 0;
}

header {
    background-color: black;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 70%;
    margin: auto;
}

.danhmuc {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

.logo {
    width: 15%;
    
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 20px
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: #9b9b9b;
    font-size: 16px;
    font-family: "SFProDisplay", Arial, sans-serif;
}

a:hover {
    color: orange;
}

.chucnang {
    display: flex;
    align-items: center;
    gap: 20px;
}

.muagoi {
    background-color: orange;
    border: none;
    color: white;
    padding: 10px 20px;
    width: 100px;
    border-radius: 10px;
}

.dangnhap {
    background-color: black;
    color: white;
    border: none;
    width: 100px;
}

main {
    background-color: #131314;
    color: white;
    width: 100%;
    /* height: 1000px; */
}

.quangcao {
    display: flex;
    justify-content: center;

}

.container {
    width: 70%;
    background-color: black;
    /* height: 1000px; */
    margin: auto;
}

.banner {
    width: 98%;
}

.qc {
    margin-top: 10px;
    width: 98%;
    border-radius: 10px;
}

.tentheloai {
    margin: 20px;
}

.danhsach {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.phim {
    width: 19%;
}

.phim img {
    width: 100%;
    border-radius: 5px 5px 5px 5px;
}
.ten{
font-size: large;
}
.tentheloai{
    color: paleturquoise;
    font-size: 25px;
    font-weight: bold;
}
.divide{
    width: 100%;
    border: .5px solid #252525;
    margin: 0 40px ;
    border-left: none;
    display: flex;
    justify-content: space-between;
    max-width: 83%;
    border-right: none;
    
    
}
.footer-image img{
    align-items: center;
    display: flex;
    width: 150px ;  
    margin: 20px;
    margin-left:200px;
}
.footer{
    align-items: center;
    display: flex;
    padding-top: 20px;

}
.footer-head p{
    display: block;
    color: white;
    text-decoration:none;
    margin: 10px 0;
    font-family: Times New Roman;
    
}
.footer-head a:hover{
    text-decoration: none;
    color: orange;
    display: flex;
}
.the_end{
   font-size: 13px;
  color: white; 
  background-color: #131314; 
  padding-bottom: 50px;
  text-align: 20px;
  align-items: flex-start;
  padding-top: 20px;
}
.the_end p{
   text-decoration: none;
  margin-left: 240px;
  color: grey;   
  align-items: flex-start;

}
 .p{
    margin: 0;
}






